{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <h3 class="mb-5">Notification</h3>
    <table class="table">
        <thead>
          <tr class="">
            
            <th scope="col-8">Detail</th>
            <th scope="col-2">Time</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td class="border border-right">Mark</td>
            <td class="border border-right">Otto</td>
            
          </tr>
          <tr>
           
            <td class="border border-right">Jacob</td>
            <td class="border border-right">Thornton</td>
            
          </tr>
          <tr>
           
            <td class="border border-right">Larry</td>
            <td class="border border-right">the Bird</td>
            
          </tr>
        </tbody>
      </table>



</div>
{% endblock content %}
