{% extends "home/base.html" %}
{% load static %}

{% block content %}

  
    <h2 style="text-align:center">Profile</h2>
    
    <div class="card">
      
      <img src="{{ userprofile.avatar.url }}" alt="{{ user.first_name }} Image" style="width:100%">
      <h1>{{user.username}}
      </h1> <a href="" style="float: left;" class="btn"><span class="fa fa-edit"></span></a>
      
      <p>Bio: {{ userprofile.bio }}</p>
      <p>Location: {{ userprofile.location }}</p>
      <div style="margin: 24px 0;">
        <hr>
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
        
      </div>
      
    </div>
    <form id="update_user_form" method="POST" enctype="multipart/form-data">

      {% csrf_token %}
      <input type="file" name="image"  placeholder="Bio">
      <input type="submit">
    </form>
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    
    
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>
{% endblock content %}